/.idea/*
/python_gen/data/XML/*
/python_gen/data/XML/Units/CIV4UnitInfos.xml
/Debug*
/python_gen/data/tables/*
/data/*.sqlite
db_storer.py
/civ_library/*
python_gen/data/foreign_keys.json
/python_gen/data/loc.csv
/python_gen/data/frontend_tables
/Platforms/
/python_gen/data/Debug*

/python_gen/build_utils/FallFromHeaven.Mod.art.xml
/python_gen/build_utils/correct.xml
/python_gen/data/
/data/
/docs/.obsidian/
/docs/_site/
/docs/404.html
/docs/_posts/.obsidian/
/docs/Gemfile
/docs/Gemfile.lock
/db_search.py
