/.idea/*
/python_gen/data/XML/*
/python_gen/data/XML/Units/CIV4UnitInfos.xml
/Debug*
/python_gen/data/tables/*
/data/*.sqlite
db_storer.py
/civ_library/*
python_gen/data/foreign_keys.json
/python_gen/data/loc.csv
